---
layout: default
---

<article class="card">

<h1>{{ page.title }}</h1>

<p class="meta">
{{ page.date | date: "%d/%m/%Y" }} · {{ page.author }}
</p>

{{ content }}

{% if page.categories contains "magazine" %}

<hr style="margin:40px 0; border:none; border-top:1px solid #e5e7eb;">

<h3 style="margin-bottom:20px;">Discusión académica del artículo</h3>

<div class="commentbox"></div>

<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
<script>
commentBox('5734850254340096-proj');
</script>

{% endif %}

<div style="margin-top:35px;">

{% if page.categories contains "magazine" %}
<a class="btn" href="{{ site.baseurl }}/magazine/">
Volver al Magazine
</a>

{% elsif page.categories contains "educacion" %}
<a class="btn" href="{{ site.baseurl }}/educacion-medica-continuada/">
Volver a Educación médica
</a>

{% else %}
<a class="btn" href="{{ site.baseurl }}/">
Volver al inicio
</a>
{% endif %}

</div>

</article>
